.colors {
    background-color: #606060FF;
    background-color: #D6ED17FF; 

    background-color: #101820FF;
    background-color: #FEE715FF;

    background-color: #2D2926FF;
    background-color: #E94B3CFF;

    background-color: #1C1C1BFF;
    background-color: #CE4A7EFF;

    background-color: #303138;
    background-color: #171717;
    background-color: #3B4148;
    background-color: #ADADAD;
    background-color: #363b41;
    background-color: #EA4C88;

}